{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{%static 'shop/style.css'%}">
    <link rel="stylesheet" href="{%static 'general.css'%}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    {%include 'navbar.html'%}
    <div style="display: flex;flex-direction: column; justify-content: space-between; height: 90vh;">
        {%block content%}{%endblock%}
        {%include 'footer.html'%}
    </div>
</body>
</html>